﻿@model Website.Models.IMDb

@{
    ViewBag.Title = "Movies";
}
<div class="main">
    <div class="header_content">
        <div class="top-header">
            <div class="logo">
                <p>@Model.Title</p>
            </div>
            <div class="search">
                @using (Html.BeginForm("IMDBMovie", "IMDB", FormMethod.Post))
                {
                    <input type="text" value="" name="MovieName" />
                    <input class="button" id="submit" type="submit" value="" />
                }
            </div>
            <div class="clearfix"></div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-2">
                <div class="thumbnailIMDB">
                    <img class="movie-image" src="@Model.Poster" />
                </div>
            </div>
            <div class="col-md-10">
                <table class="table table-reflow">
                    <tbody>
                        <tr>
                            <th scope="row">Naam</th>
                            <td>@Model.Title</td>

                        </tr>
                        <tr>
                            <th scope="row">Jaar</th>
                            <td>@Model.Year</td>

                        </tr>
                        <tr>
                            <th scope="row">Rating</th>
                            <td>@Model.Rating</td>

                        </tr>

                        <tr>
                            <th scope="row">Genre</th>
                            <td>
                                @foreach (var item in Model.Genres)
                                {
                                    @item @Html.Raw(", ")
                                }
                                </td>

                            </tr>
                            <tr>
                                <th scope="row">Kijkwijzer</th>
                                <td>@Model.MpaaRating</td>

                            </tr>
                            <tr>
                                <th scope="row">Release datum</th>
                                <td>@Model.ReleaseDate</td>
                            </tr>
                            <tr>
                                <th scope="row">Duur</th>
                                <td>@Model.Runtime minuten</td>

                            </tr>
                        <tr>
                            <th scope="row">Awards</th>
                            <td>

                                @Model.Awards

                            </td>

                        </tr>
                        <tr>
                            <th scope="row">Oscars</th>
                            <td>

                                @Model.Oscars

                            </td>

                        </tr>
                        <tr>
                            <th scope="row">Acteurs</th>
                            <td>
                                @foreach (var item in Model.Cast)
                                {
                                    @item @Html.Raw(", ")
                                }
                            </td>

                        </tr>
                         
                            <tr>
                                <th scope="row">Plot</th>
                                <td>@Model.Plot</td>

                            </tr>
                        <tr>
                            <th scope="row">IMDB website</th>
                            <td> <a href="@Model.ImdbURL">Bezoeken</a></td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <hr />


            <div class="row">
                <div class="col-sm-8 col-md-2">
                    <a class="btn btn-info btn-lg navbar-btn navbar-left text-black" href="javascript:history.back()"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Terug</a>
                </div>
            </div>


            <div class="clearfix"></div>
