﻿@{
    ViewBag.Title = "Betalen";
}
<div class="main">
<div class="header_content">
    <div class="top-header">
        <div class="logo">
            <p>Controle geselecteerde tickets</p>
        </div>

        <div class="clearfix"></div>
    </div>

    <div class="row" id="leftmargin">
        <div class="col-md-12">
            <div class="section"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 phone">
                        <div class="row1">
                            <div class="col-md-12">
                                <input type="password" maxlength="4" name="name" id="telNumber" class="form-control tel" value="" />
                                <div class="num-pad">
                                    <div class="span4">
                                        <div class="num">
                                            <div class="txt">
                                                1
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="num">
                                            <div class="txt">
                                                2 <span class="small">

                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="num">
                                            <div class="txt">
                                                3 <span class="small">

                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="num">
                                            <div class="txt">
                                                4 <span class="small">

                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="num">
                                            <div class="txt">
                                                5 <span class="small">

                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="num">
                                            <div class="txt">
                                                6 <span class="small">

                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="num">
                                            <div class="txt">
                                                7 <span class="small">

                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="num">
                                            <div class="txt">
                                                8 <span class="small">

                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="num">
                                            <div class="txt">
                                                9 <span class="small">

                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="num">
                                            <div class="txt">
                                                *
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="num">
                                            <div class="txt">
                                                0 <span class="small">

                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="num">
                                            <div class="txt">
                                                #
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                </div>
                                <a class="btn btn-danger btn-block flatbtn cancel">CANCEL</a>
                                <a class="btn btn-success btn-block flatbtn confirm">BEVESTIGEN</a>
                                <br />
                                <div class="clearfix">
                                </div>
                            </div>
                            <div id="ErrorDiv"  </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-info btn-lg navbar-btn navbar-left text-black" href="javascript:history.back()"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Terug</a>
            <ul class="nav nav-pills" role="tablist" id="float-right">
                <a id="float-right" class="btn btn-info btn-lg navbar-btn navbar-left text-black" href="/Home/Betalen">Selecteer stoelen <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
            </ul>
            <script>
                $(document).ready(function () {
                    $('.num').click(function () {
                        var num = $(this);
                        var text = $.trim(num.find('.txt').clone().children().remove().end().text());
                        var telNumber = $('#telNumber');
                        $(telNumber).val(telNumber.val() + text);
                    });
                    $('.confirm').click(function () {
                        var pinInput = $('#telNumber');
                        if (pinInput.val() === '1234') {
                            console.log("redirect!");
                            window.location = "@(Url.Action("SeatSelection", "Home"))";
                        }
                        if (pinInput.val() != '1234') {
                            console.log("Foutje!");

                            document.getElementById('ErrorDiv').textContent = "Er is een onjuiste pincode ingevoerd, druk op 'Cancel' en probeer het opnieuw.";


                        }

                    });
                    $('.cancel').click(function () {
                        var pinInput = $('#telNumber');
                        $(pinInput).val("");
                    });
                });
            </script>
