﻿@model Website.Models.TicketsSelectedModel
@{

}
<div class="main">
    <div class="header_content">
        <div class="top-header">
            <div class="logo">
                <p>Controle geselecteerde tickets</p>
            </div>

            <div class="clearfix"></div>
        </div>

        <div class="row" id="leftmargin">
            <div class="col-md-12">
                <div class="section"></div>
                <h3>Gekozen film: @Session["Moviename"]</h3>
                <br />
                <h4>Totaal tarief : @Model.FinalPrice</h4>
                <hr />
                <br />
                <br />
                <h4>Specificatie:</h4>
                <h5>Prijs Tickets : € @Model.TotalPrice</h5>
                Gekozen tickets:
                <br />
                @foreach (var ticket in Model.ChosenTickets.Where(i => i.TotalOrdered != 0))
            {
                    <table>
                        @ticket.TicketName (aantal: @ticket.TotalOrdered) - @ticket.TotalPrice
                    </table>
                }
                <br />
                <hr />
                <h5>Prijs Opties : €  @Model.TotalOptionsPrice</h5>
                Gekozen opties:
                <br />
                @foreach (var option in Model.ChosenTickets.Where(i => i.TotalOptionOrdered != 0))
                {
                    <table>
                        @option.TicketOptionName (aantal: @option.TotalOptionOrdered) - @option.TotalOptionPrice
                    </table>

                }
                <a class="btn btn-info btn-lg navbar-btn navbar-left text-black" href="javascript:history.back()"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Terug</a>
                <ul class="nav nav-pills" role="tablist" id="float-right">
                    <a id="float-right" class="btn btn-info btn-lg navbar-btn navbar-left text-black" href="@Url.Action("SeatSelection", "SeatSelection")">Betalen <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
                    </ul> 
</div>
        </div>
    </div>




