﻿@model Website.Models.TicketModel
@using System.Globalization;
@{
    ViewBag.Title = "Tickets";
}
<div class="main">
    <div class="header_content">
        <div class="top-header">
            <div class="logo">
                <p>Selecteer de tickets voor: @Session["MovieName"]</p>
            </div>

            <div class="clearfix"></div>
        </div>

        <div class="row" id="leftmargin">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form method="post" action="/Ticket/TicketsSelected" id="ticketsForm">
                            <h4>Beschikbare stoelen: @Session["AvailableSeats"]</h4>
                            <table class="table table-reflow">
                                <thead>
                                    <tr>
                                        <th>Type:</th>
                                        <th>Prijs:</th>
                                        <th>Aantal:</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.BookingTypes)
            {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Price)</td>
                                            <td>
                                                <div class="input-group number-spinner">
                                                    <span class="input-group-btn data-dwn">
                                                        <button class="btn btn-default btn-danger" type="button" data-dir="dwn" data-price="@item.Price.Value.ToString("##.##", CultureInfo.InvariantCulture)"><span class="glyphicon glyphicon-minus"></span></button>
                                                    </span>
                                                    <input type="text" class="form-control text-center" value="0" min="0" max="4" name="totalTickets">
                                                    <span class="input-group-btn data-up">
                                                        <button class="btn btn-default btn-danger" type="button" data-dir="up" data-price="@item.Price.Value.ToString("##.##", CultureInfo.InvariantCulture)"><span class="glyphicon glyphicon-plus"></span></button>
                                                    </span>
                                                    <input type="hidden" name="ticketKind" value="@item.Id" />
                                                </div>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <table class="table table-reflow">
                                <thead>
                                    <tr>
                                        <th>Optie:</th>
                                        <th>Prijs:</th>
                                        <th>Aantal:</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (TempData["3D"].ToString() == "3D")
                                    {
                                        foreach (var item in Model.BookingOptionsSets)
                                        {
                                            <tr id="">
                                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                                <td>@Html.DisplayFor(modelItem => item.price)</td>
                                                <td>
                                                    <div class="input-group number-spinner">
                                                        <span class="input-group-btn data-dwn">
                                                            <button class="btn btn-default btn-danger" type="button" data-dir="dwn" data-price="@item.price.ToString("##.##", CultureInfo.InvariantCulture)"><span class="glyphicon glyphicon-minus"></span></button>
                                                        </span>
                                                        <input type="text" class="form-control text-center" value="0" min="0" max="4" name="totalOptionTickets">
                                                        <span class="input-group-btn data-up">
                                                            <button class="btn btn-default btn-danger" type="button" data-dir="up" data-price="@item.price.ToString("##.##", CultureInfo.InvariantCulture)"><span class="glyphicon glyphicon-plus"></span></button>
                                                        </span>
                                                        <input type="hidden" name="ticketOption" value="@item.Id" />
                                                    </div>
                                                </td>

                                            </tr>


                                        }
                                    }
                                    else {
                                        foreach (var item in Model.BookingOptionsSets.Where(i => i.Name != "3D Bril"))
                                        {
                                            <tr id="">
                                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                                <td>@Html.DisplayFor(modelItem => item.price)</td>
                                                <td>
                                                    <div class="input-group number-spinner">
                                                        <span class="input-group-btn data-dwn">
                                                            <button class="btn btn-default btn-danger" type="button" data-dir="dwn" data-price="@item.price.ToString("##.##", CultureInfo.InvariantCulture)"><span class="glyphicon glyphicon-minus"></span></button>
                                                        </span>
                                                        <input type="text" class="form-control text-center" value="0" min="0" max="4" name="totalOptionTickets">
                                                        <span class="input-group-btn data-up">
                                                            <button class="btn btn-default btn-danger" type="button" data-dir="up" data-price="@item.price.ToString("##.##", CultureInfo.InvariantCulture)"><span class="glyphicon glyphicon-plus"></span></button>
                                                        </span>
                                                        <input type="hidden" name="ticketOption" value="@item.Id" />
                                                    </div>
                                                </td>

                                            </tr>


                                        }
                                    }
                                </tbody>
                            </table>
                        </form>
                        <ul class="nav nav-pills" role="tablist" id="float-right">
                            <li role="presentation" class="active"><a href="#">Totaal: € <input type="text" name="totalprice" id="totalprice" value="0" disabled="disabled" /></a></li>
                            <br />
                            <a id="float-right" class="btn btn-info btn-lg navbar-btn navbar-left text-black" href="#" onclick="submitTicketsForm(); return false;">Verder <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
                        </ul>
                        <div class="row">
                            <div class="col-sm-8 col-md-2">
                                <br /><br />
                                <a class="btn btn-info btn-lg navbar-btn navbar-left text-black" href="javascript:history.back()"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Terug</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <br />

            <div class="container" id="leftmargin">
                @if (TempData["3D"].ToString() == "3D")
                {
                    <h3>3D-brillen</h3>
                    <p>Let op: Heb je al een 3D - bril, dan kun je je ticket(s) bestellen zonder 3D - bril.Vergeet je de bril mee te nemen, dan kun je deze in de bioscoop kopen voor € 1,00.</p>
                }
            </div>

            <br />
        </div>

