﻿@model IEnumerable<Website.Models.MovieShowingsModel>

@{
    ViewBag.Title = "Movies";
}
<div class="main">
    <div class="header_content">
        <div class="top-header">
            <div class="logo">
                <p>Selecteer de gewenste datum en tijd!</p>
            </div>
            <div class="search">
                @using (Html.BeginForm("IMDBMovie", "IMDB", FormMethod.Post))
                {
                    <input type="text" value="" name="MovieName" />
                    <input class="button" id="submit" type="submit" value="" />
                }
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row" id="leftmargin">

            <a href="@Url.Action("MoviesSelected", "MovieShowings", new { Date = DateTime.Today.ToString("dd-MM-yyyy")})" class="btn btn-primary" type="button">Vandaag</a>


            <a href="@Url.Action("MoviesSelected", "MovieShowings", new { Date = DateTime.Today.AddDays(1).ToString("dd-MM-yyyy") })" class="btn btn-primary" type="button">Morgen</a>


            <a href="@Url.Action("MoviesSelected", "MovieShowings", new { Date = DateTime.Today.AddDays(2).ToString("dd-MM-yyyy") })" class="btn btn-primary" type="button">@DateTime.Today.AddDays(2).ToString("dddd dd MMMM")</a>


            <a href="@Url.Action("MoviesSelected", "MovieShowings", new { Date = DateTime.Today.AddDays(3).ToString("dd-MM-yyyy") })" class="btn btn-primary" type="button">@DateTime.Today.AddDays(3).ToString("dddd dd MMMM")</a>

            <a href="@Url.Action("MoviesSelected", "MovieShowings", new { Date = DateTime.Today.AddDays(4).ToString("dd-MM-yyyy") })" class="btn btn-primary" type="button">@DateTime.Today.AddDays(4).ToString("dddd dd MMMM")</a>


            <a href="@Url.Action("MoviesSelected", "MovieShowings", new { Date = DateTime.Today.AddDays(5).ToString("dd-MM-yyyy") })" class="btn btn-primary" type="button">@DateTime.Today.AddDays(5).ToString("dddd dd MMMM")</a>


            <a href="@Url.Action("MoviesSelected", "MovieShowings", new { Date = DateTime.Today.AddDays(6).ToString("dd-MM-yyyy") })" class="btn btn-primary" type="button">@DateTime.Today.AddDays(6).ToString("dddd dd MMMM")</a>
        </div>
        <hr />
        <br />
        <br />

        @*@Session["UrlId"]*@

            @foreach (var item in Model.Select(i => i.Name).Distinct().ToList())
            {

                foreach (var movies in Model.Where(i => i.Name == item).Where(i => i.MoviesId == Convert.ToInt32(Session["UrlId"])).GroupBy(i => i.Name))
                {
                <div class="row">
                    <div class="col-md-3">
                        
                            
                           
                            <div class="thumbnail">
                                @foreach (var image in Model.Where(i => i.Name == item).Take(1))
                                {

                                    <img class="movie-image" src="@image.ImageData" />
                                }
                            </div>
                        </div>

                    <div class="col-md-8">
                        @foreach (var info in Model.Where(i => i.Name == item).Take(1))
                        {

                            <h4>@info.Name</h4>


                            foreach (var datetime in Model.Where(i => i.Name == item).Where(i => i.DateTime.ToString("dd-MM-yyyy") == i.DateSelected).Where(i => i.DateTime > DateTime.Now).ToList())
                            {

                                    <a href="@Url.Action("Tickets", "Ticket", new { Id = datetime.Id, Name = datetime.Name })">
                                        <button class="btn btn-primary" type="button">
                                            @datetime.DateTime.ToString("dd/MM - HH:mm") <span class="badge">@datetime.MovieTypes.Type</span>
                                        </button>
                                    </a>
                                    <p>Zaal: @datetime.RoomNumber @Html.Raw("-") @datetime.Info</p>

                                    }
                                    }



</div>
                </div>
                    <hr />
                    }
            }
    </div>


