﻿body {
    padding-top: 50px;
    padding-bottom: 120px;
    background: #272b30;
}

#background {
    background-image: url('images/Cinema-Desktop.png');
    background-size: 100%;
    position: fixed; 
    left: 0px; 
    top: 0px; 
}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
     padding-bottom: 200px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}