﻿@{
    ViewBag.Title = "Pin";
}

<div class="container">
    <div class="row></div>
    <div class="row"></div>
    <br />
            @Session["MovieShowingsID"]

 <div class="center navbar navbar-collapse navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
            <ul class="nav navbar-nav navbar-left">

                <a class="btn btn-info btn-lg navbar-btn navbar-left text-black" href="javascript:history.back()"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> TERUG</a>

            </ul>
            <ul class="nav navbar-nav navbar-right">
              
                    <a class="btn btn-info btn-lg navbar-btn navbar-left text-black" id="print" href="@Url.Action("PDFTicket", "Home", new { UniqueId = Session["UniqueId"]})">Printen<span class="glyphicon glyphicon-print" aria-hidden="true"></span></a>
               

            </ul>

        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right"></ul>

        </div>

    </div>
</div>





