﻿@model int
@{
    ViewBag.Title = "BookingSuccess";
}





<div class="section"></div>
<div id="content">
    <div class="section text-center margin-top">
       
            <div class="col-xs-12">
                <h2>Reservering geslaagd!</h2>
                <p>
                    <a class="background btn btn-lg btn-primary" id="print" href="/Home/PDFTicket?UniqueId=@Model">Tickets printen<span class="glyphicon glyphicon-print" aria-hidden="true"></span></a>
                </p>
      
        </div>


        </div>
        <div class="center navbar navbar-collapse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-header">
                    <ul class="nav navbar-nav navbar-left">

                        @*<a class="btn btn-info btn-lg navbar-btn navbar-left text-black" href="javascript:history.back()"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> TERUG</a>*@

                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        <a class="btn btn-info btn-lg navbar-btn navbar-left text-black" id="print" href="/Home">Beginscherm<span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>


                    </ul>

                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right"></ul>

                </div>

            </div>
        </div>






