﻿@{
    ViewBag.Title = "Tickets";
    ViewBag.Header = "WELKOM BIJ METROPOLIS!";
}
<div class="section text-center margin-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <a class="btn btn-block btn-lg btn-primary hoogte background" href="/Home/Reservering">Reservering ophalen<br></a>
                                <p></p>
                                <p></p>
                            </div>
                            <div class="col-md-6 text-center">
                                <a class="btn btn-block btn-lg btn-primary hoogte background" href="/Home/Movie">Ticket(s) kopen</a>
                                <p></p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>