﻿@model IEnumerable<Domain.Models.MoviesShowings>
@{

}
<div class="section"></div>
<div class="section margin-hr">
    <div class="container">

        @foreach (var item in Model.Where(i => i.DateTime > @DateTime.Now && i.DateTime.ToString("dd MM yyyy") == @DateTime.Today.ToString("dd MM yyyy")).OrderBy(i => i.DateTime))
        {
     
            <a href="@Url.Action("Ticket", "Home", new { Id = item.Id, Name = item.Movies.Name})">
                <div class="col-sm-4 col-md-3">
                    <div class="thumbnail">
                        <img class="movie-image" src="@Html.DisplayFor(modelItem => item.Movies.ImageData)" />
                        <div class="caption">
                            <h6>@Html.DisplayFor(modelItem => item.Movies.Name)</h6>
                            <h6>@Html.DisplayFor(modelItem => item.Movies.MovieTypes.Type)</h6>
                            <table class="table table-reflow">
                                <thead>
                                    <tr>
                                        <th>Duur:</th>
                                        <th>@Html.DisplayFor(modelItem => item.Movies.Duration) minuten</th>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr>
                                        <th>Aanvang:</th>
                                        @*<th>@(item.DateTime == null ? "" : ((DateTime)item.DateTime).ToString("dd/MM - HH:mm"))</th>*@
                                        <th>@(item.DateTime == null ? "" : ((DateTime)item.DateTime).ToString("HH:mm"))</th>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr>
                                        <th>Zaal:</th>
                                        <th>@Html.DisplayFor(modelItem => item.Rooms.RoomNumber)</th>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr>
                                        <th>Kijkwijzer:</th>
                                        @if (item.Movies.AgeRating == 0)
                                        {
                                        <th>Alle leeftijden</th> }
                                        else {
                                        <th>@Html.DisplayFor(modelItem => item.Movies.AgeRating)</th> }
                                      
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</div>
<div class="section margin-hr"></div>

<div class="center navbar navbar-collapse navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
            <ul class="nav navbar-nav navbar-left"></ul>
            <a class="btn btn-info btn-lg navbar-btn navbar-left text-black" href="javascript:history.back()"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> TERUG</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right"></ul>
        </div>
    </div>
</div>