﻿@model IEnumerable<Domain.Models.SeatsReserveds>
@{
}

<div class="section"></div>
<div id="content">
    <div class="row">
        @{int i = 1;}
        @foreach (var item in Model)
        {
            if (item == null)
            { <p>Reservering niet gevonden!</p> }
            <div class="col-xs-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@item.Bookings.MoviesShowings.Movies.Name</h3>
                    </div>
                    <div class="panel-body">
                        <p>Nummer:  @i</p>
                        <!--<p class="thumbnail">
                             <img src = "@item.Bookings.MoviesShowings.Movies.ImageData" alt="...">
                        </p-->
                        <div class="caption">
                            <p>Ticket no.:  @item.Bookings.UniqueId</p>
                            <p>ZAAL: @item.Seats.Rooms.RoomNumber</p>
                            <p>Rij: @item.Seats.RowNumber</p>
                            <p>Stoel: @item.Seats.SeatNumber</p>
                            <p>Datum & aanvang: @(item.Bookings.MoviesShowings.DateTime == null ? "" : ((DateTime)item.Bookings.MoviesShowings.DateTime).ToString("dd/MM - HH:mm")) uur</p>
                            <p>Type: @item.BookingTypes.Name</p>
                            @*<p>Optie: item.Bookings.BookingOptionsSetBookings.</p>*@
                        </div>
                    </div>
                </div>


            </div>
            i++;
        }


    </div>
    <div class="center navbar navbar-collapse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav navbar-left">

                    <a class="btn btn-info btn-lg navbar-btn navbar-left text-black" href="/Home"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Beginscherm</a>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @foreach (var item in Model.Take(1))
                    {
                        <a class="btn btn-info btn-lg navbar-btn navbar-left text-black" id="print" href="@Url.Action("PDFTicket", "Home", new { UniqueId = item.Bookings.UniqueId })">Printen<span class="glyphicon glyphicon-print" aria-hidden="true"></span></a>
                    }

                </ul>

            </div>
            <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                <ul class="nav navbar-nav navbar-right"></ul>

            </div>

        </div>
    </div>






