﻿@model IEnumerable <Domain.Models.SeatsReserveds>
@{

}

<div class="section text-center margin-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Uw reserveringsnummer:</h3>                  
                    @using (Html.BeginForm("Print", "Home"))
                    {
                        <br />
                        <input class="form-control input-lg" name="UniqueId" id="exampleInputEmail1" placeholder="Voer hier uw reserveringsnummer in..." type="text">
                        <br /><button type="submit" class="background btn btn-lg btn-primary">Tickets ophalen</button>
                    }

            </div>
        </div>
    </div>
</div>



<div class="center navbar navbar-collapse navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
            <ul class="nav navbar-nav navbar-left"></ul>
            <a class="btn btn-info btn-lg navbar-btn navbar-left text-black" href="javascript:history.back()"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> TERUG</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right"></ul>
        </div>
    </div>
</div>