﻿@model Cinema.WebUI.Models.TicketsSelectedModel
@{

}
<div class="section"></div>
<h3>Film: @Session["Moviename"]</h3>
<hr /><br />
<h4>Totaal Tickets : € @Model.TotalPrice</h4>

    Gekozen tickets:
<br />
   @foreach (var ticket in Model.ChosenTickets.Where(i => i.TotalOrdered != 0))
    {
        <table>
            @ticket.TicketName (aantal: @ticket.TotalOrdered) - @ticket.TotalPrice
        </table>
    }
<br /><br /><br />
<hr />
<h4>Totaal Opties : €  @Model.TotalOptionsPrice</h4>
 Gekozen opties:
<br />
@foreach (var option in Model.ChosenTickets.Where(i => i.TotalOptionOrdered != 0))
{
    <table>
        @option.TicketOptionName (aantal: @option.TotalOptionOrdered) - @option.TotalOptionPrice
    </table>

}

    <div class="center navbar navbar-collapse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav navbar-left">
                    <a class="btn btn-info btn-lg navbar-btn navbar-left text-black" href="javascript:history.back()"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> TERUG</a>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <a class="btn btn-info btn-lg navbar-btn navbar-left text-black" href="/Home/PinCode" return false;">Betalen <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                <ul class="nav navbar-nav navbar-right"></ul>
            </div>
        </div>
    </div>
