﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/bootstrap.youtubepopup.js"></script>
    <script src="~/Scripts/bootstrap.youtubepopup.min.js"></script>
    <link href="~/Content/popuo-box.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/jquery.seat-charts.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
	$(function () {
		$(".youtube").YouTubeModal({autoplay:0, width:640, height:480});
	});
    </script>
    <script type="text/javascript">
        window.onload = function() {
            var action;
            var totalPrice = 0;

            $(".number-spinner button").mousedown(function () {
                btn = $(this);
                input = btn.closest('.number-spinner').find('input[type=text]');
                btn.closest('.number-spinner').find('button').prop("disabled", false);
                var price = parseFloat(btn.attr('data-price'));

    	        if (btn.attr('data-dir') == 'up') {
                    //action = setInterval(function(){
                        if ( input.attr('max') == undefined || parseInt(input.val()) < parseInt(input.attr('max')) ) {
                            input.val(parseInt(input.val()) + 1);
                            var currentValue = parseFloat($("#totalprice").val());

                            setPrice(currentValue + price);
                        }else{
                            btn.prop("disabled", true);
                            clearInterval(action);
                        }
                   // }, 50);
    	        } else {
                   // action = setInterval(function(){
                        if ( input.attr('min') == undefined || parseInt(input.val()) > parseInt(input.attr('min')) ) {
                            input.val(parseInt(input.val()) - 1);
                            var currentValue = parseFloat($("#totalprice").val());

                            setPrice(currentValue - price);
                        }else{
                            btn.prop("disabled", true);
                            clearInterval(action);
                        }
                    //}, 50);
    	        }
            }).mouseup(function(){
                clearInterval(action);
            });

            function setPrice(price) {
                $("#totalprice").val(price.toFixed(2));
            }
        };

        function submitTicketsForm() {
            $("#ticketsForm").submit();
        }
    </script>

</head>
<body>
    <div class="full">
        <div class="menu">
            <<ul id="nav">
    <li><a class="" href="/Home/Index"><i class="home"></i>Home</a></li>
    <li><a href="@Url.Action("Movies", "MovieShowings", new { Date = DateTime.Today.ToString("dd-MM-yyyy")})"><div class="bk"><i class="booking"></i><i class="booking1"></i>Tickets</div></a></li>
    <li><a href="@Url.Action("Movie", "Movies")"><div class="cat"><i class="watching"></i><i class="watching1"></i>Films</div></a></li>
    <li><a href="@Url.Action("Contact", "Home")"><div class="cat"><i class="contact"></i><i class="contact1"></i>Contact</div></a></li>
</ul>

        </div>
        @RenderBody()


        <script type="text/javascript">
            $(window).load(function () {
                $("#flexiselDemo").flexisel({
                    visibleItems: 6,
                    animationSpeed: 1000,
                    autoPlay: true,
                    autoPlaySpeed: 3000,
                    pauseOnHover: false,
                    enableResponsiveBreakpoints: true,
                    responsiveBreakpoints: {
                        portrait: {
                            changePoint: 480,
                            visibleItems: 2
                        },
                        landscape: {
                            changePoint: 640,
                            visibleItems: 3
                        },
                        tablet: {
                            changePoint: 768,
                            visibleItems: 4
                        }
                    }
                });
            })
        </script>
        <div class="footer">

            <h6>Informatie : </h6>
            <div class="copyright">
                <p>
                    Adres:<br />
                    Lovensdijkstraat 61-63<br />
                    4818 AJ Breda<br />
                    Postbus 90.116, 4800 RA
                </p>
                <p>Telefoon: 088 - 525 75 00 </p>
                <a href="https://www.google.nl/maps?t=h&f=d&daddr=Lovensdijkstraat%2B61-63,Breda&ie=UTF8&z=16">Route via Google Maps</a><br />
                <a href="#">Parkeren</a><br />
                <a href="http://www.9292.nl/">Openbaar vervoer via 9292</a>
            </div>
        </div>
    </div>
    </div>
    <script>
        $(function () {
            $('.nav-list li.active').removeClass('active');
            jQuery(function ($) {
                var path = window.location.href; // because the 'href' property of the DOM element is the absolute path
                $('ul a').each(function () {
                    if (this.href === path) {
                        $(this).addClass('active');
                    }
                });
            });
    })
    </script>
</body>

</html>
