﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="main">
    <div class="header_content">
        <div class="top-header">
            <div class="logo">
                <p></p>
            </div>
            <div class="search">
                <form>
                    <input type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}" />
                    <input type="submit" value="">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row">

        </div>
        <div class="col-md-12">
            <h1 class="text-danger">Foutmelding!</h1>
            <h2 class="text-danger">@Session["foutmelding"]</h2>
        </div>
   
    <div class="row">
        <div class="col-sm-8 col-md-2">
            <a class="btn btn-info btn-lg navbar-btn navbar-left text-black" href="javascript:history.back()"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> TERUG</a>
        </div>
    </div>






