﻿@model IEnumerable<Website.Models.SeatModel>
@{
    ViewBag.Title = "Stoelen kiezen";
}


<div class="main">
    <div class="header_content">
        <div class="top-header">
            <div class="logo">
                <p>Kies uw betaalmethode</p>

            </div>

            <div class="clearfix"></div>
        </div>

        <div class="row" id="leftmargin">
            <br /> <br /><br />

            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        @*<p>Gekozen film: @Session["MovieName"]</p>*@
                        <div class="row row-centered">
                            <div class="col-md-4">
                                <button id="close-image" data-toggle="modal" data-target="#Ideal"><img src="~/images/ideal.png" height="150px"></button>
                                <h5>Ideal</h5>
                                <!-- Modal -->
                                <div class="modal fade" id="Ideal" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Betalen met IDEAL</h4>
                                            </div>
                                            <div class="modal-body">

                                                @using (Html.BeginForm("Pay", "PayChoice", FormMethod.Post))
                                                {
                                                    <table border="0" cellpadding="0" cellspacing="5">
                                                        <tr>
                                                            <td width="150"><b>Betaalmethode:</b></td>
                                                            <td>
                                                                iDEAL
                                                                <input type="hidden" name="payMethod" id="payMethod" value="IDEAL" />
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td width="150"><b>Order ID:</b></td>
                                                            <td>27458</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="150"><b>Description:</b></td>
                                                            <td>Bestelling Tickets</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="150"><b>Amount:</b></td>
                                                            <td>&euro; @Session["TotalPrice"]</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="150"><b>Handeling:</b></td>
                                                            <td><input type="submit" value="Betalen"></td>
                                                        </tr>
                                                    </table>
                                                }
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">terug</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button id="close-image" data-toggle="modal" data-target="#Creditcard"><img src="~/images/logo mastercard.png" height="150px"></button>
                                <h5>Creditcard</h5>
                                <!-- Modal -->
                                <div class="modal fade" id="Creditcard" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Betalen met Creditcard</h4>
                                            </div>
                                            <div class="modal-body">

                                                @using (Html.BeginForm("Pay", "PayChoice", FormMethod.Post))
                                                {
                                                    <table border="0" cellpadding="0" cellspacing="5">
                                                        <tr>
                                                            <td width="150"><b>Betaalmethode:</b></td>
                                                            <td>
                                                                Creditcard
                                                                <input type="hidden" name="payMethod" id="payMethod" value="CREDITCARD" />
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td width="150"><b>Order ID:</b></td>
                                                            <td>27458</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="150"><b>Description:</b></td>
                                                            <td>Bestelling Tickets</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="150"><b>Amount:</b></td>
                                                            <td>&euro; @Session["TotalPrice"]</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="250"><b>Naam:</b></td>
                                                            <td width="250"><input type="text" placeholder="uw naam" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="250"><b>Kaartnummer:</b></td>
                                                            <td><input type="text" placeholder="kaartnumme" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="250"><b>CVC:</b></td>
                                                            <td><input type="text" placeholder="CVC" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="250"><b>Verloopdatum:</b></td>
                                                            <td><input type="text" placeholder="Verloopdatum" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="250"> </td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="150"><b>Handeling:</b></td>
                                                            <td><input type="submit" value="Betalen"></td>
                                                        </tr>
                                                    </table>
                                                }
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">terug</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button id="close-image" data-toggle="modal" data-target="#Reserveren"><img src="~/images/get-money.png" height="150px"></button>
                                <h5>Reserveren</h5>
                                <!-- Modal -->
                                <div class="modal fade" id="Reserveren" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Reserveren</h4>
                                            </div>
                                            <div class="modal-body">

                                                @using (Html.BeginForm("Pay", "PayChoice", FormMethod.Post))
                                                {
                                                    <table border="0" cellpadding="0" cellspacing="5">
                                                        <tr>
                                                            <td width="250"><b>Betaalmethode:</b></td>
                                                            <td>
                                                                Betaal uw tickets in de bioscoop
                                                                <input type="hidden" name="payMethod" id="payMethod" value="CASH" />
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td width="150"><b>Description:</b></td>
                                                            <td>Reserveren Tickets</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="150"><b>Amount:</b></td>
                                                            <td>&euro; @Session["TotalPrice"]</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="250"><b>Naam:</b></td>
                                                            <td width="250"><input type="text" placeholder="" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="250"><b>E-mail:</b></td>
                                                            <td><input type="text" placeholder="" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="250"><b>Telefoon/mobiel:</b></td>
                                                            <td><input type="text" placeholder="" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="250"> </td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="150"><b>Handeling:</b></td>
                                                            <td><input type="submit" value="Betalen"></td>
                                                        </tr>
                                                    </table>
                                                }
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">terug</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*
                    <div id="seat-map">
                        @foreach (var item in Model.Take(1))
                        {

                            <div class="front">Zaal @item.RoomsId</div>
                        }
                    </div>

                    <div class="booking-details">
                        <p>Film: <span> @Session["MovieName"]</span></p>
                        <p>Datum & Tijd: <span></span></p>
                        <p>Stoel(en): </p>
                        <ul id="selected-seats"></ul>
                        <p>Totaal: <b>€<span id=""> @Session["TotalPrice"]</span></b></p>
                    </div>
                    <div style="clear:both"></div>

                    <script src="~/Scripts/jquery.seat-charts.js"></script>
                    <script>
                        var price = 10; //price
                        $(document).ready(function () {
                            var $cart = $('#selected-seats'), //Sitting Area
                            $counter = $('#counter'), //Counter
                            $total = $('#total'); //Total money

                            var sc = $('#seat-map').seatCharts({
                                map: [  //Seating chart
                                          @foreach (var item in Model.Where(i => i.RoomsId == 1).Where(i => i.RoomsCinemasId == 1).GroupBy(i => i.RoomsId).Distinct())
                            {
                                foreach (var row in item.GroupBy(l => l.RowNumber).Select(group => group.First()))
                                {
                                    @Html.Raw("'")

                                    foreach (var seat in item.Where(i => i.RowNumber == row.RowNumber))
                                    {
                                        @Html.Raw("a")
                                    }
                                    @Html.Raw("'")@Html.Raw(",")

                                }

                            }
                                ],
                                naming: {
                                    top: false,
                                    getLabel: function (character, row, column) {
                                        return column;
                                    }
                                },
                                legend: { //Definition legend
                                    node: $('#legend'),
                                    items: [
                                        ['a', 'available', 'Open'],
                                        ['a', 'unavailable', 'Niet beschikbaar'],
                                        ['a', 'selected', 'geselecteerd']
                                    ]
                                },
                                click: function () { //Click event
                                    if (this.status() == 'available') { //optional seat
                                        $('<li>R' + (this.settings.row + 1) + ' S' + this.settings.label + '</li>')
                                            .attr('id', 'cart-item-' + this.settings.id)
                                            .data('seatId', this.settings.id)
                                            .appendTo($cart);

                                        $counter.text(sc.find('selected').length + 1);
                                        $total.text(recalculateTotal(sc) + price);

                                        return 'selected';
                                    } else if (this.status() == 'selected') { //Checked
                                        //Update Number
                                        $counter.text(sc.find('selected').length - 1);
                                        //update totalnum
                                        $total.text(recalculateTotal(sc) - price);

                                        //Delete reservation
                                        $('#cart-item-' + this.settings.id).remove();

                                        return 'available';
                                    } else if (this.status() == 'unavailable') { //sold
                                        return 'unavailable';
                                    } else {
                                        return this.style();
                                    }
                                }
                            });
                            //sold seat
                            sc.get(['']).status('unavailable');
                            sc.get(['']).status('selected')

                        });
                        //sum total money cart
                        function recalculateTotal(sc) {
                            var total = 0;
                            sc.find('selected').each(function () {
                                total += price;
                            });

                            return total;
                        }
                    </script>
                    @foreach (var item in Model.Distinct())
                    {
                        //    @Html.DisplayFor(modelItem => item.RowNumber) @Html.Raw("_") @Html.DisplayFor(modelItem => item.SeatNumber) @Html.Raw(",")
                        //    @Html.Raw("<br>")
                    }<br>
                    <div id="legend"></div>

                    <div class="clearfix"></div>
                *@<br />  <br /><hr />
                <a class="btn btn-info btn-lg navbar-btn navbar-left text-black" href="javascript:history.back()"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Terug</a>
                <ul class="nav nav-pills" role="tablist" id="float-right"></ul>
            </div>
        </div>
    </div>

    <br />



    <br />
</div>
</div>
