﻿@model IEnumerable<Website.Models.IndexModel>

@{
    ViewBag.Title = "Movies";
}
<div class="main">
    <div class="header_content">
        <div class="top-header">
            <div class="logo">
                <p>Alle films</p>
            </div>
            <div class="search">
                @using (Html.BeginForm("IMDBMovie", "IMDB", FormMethod.Post))
                {
                    <input type="text" value="" name="MovieName" />
                    <input class="button" id="submit" type="submit" value="" />
                }
            </div>
            <div class="clearfix"></div>
        </div>

        <br />
        <br />
        <hr />

        <div class="row">

            @foreach (var item in Model.OrderBy(i => i.ReleaseDate))
            {
                <a href="@Url.Action("MovieSelected", "Movies", new { Id = item.Id, movieName = item.Name})">
                    <div class="col-sm-8 col-md-2">
                        <div class="thumbnail">
                            <img src="@Html.DisplayFor(modelItem => item.ImageData)">
                            <div class="caption">
                                <h6 id="OneLine">@Html.DisplayFor(modelItem => item.Name)</h6>
                                <h6>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    @Convert.ToDateTime(item.ReleaseDate).ToString("dd MMMM yyyy")
                                </h6>

                            </div>
                        </div>
                    </div>
                </a>
            }

        </div>
        <div class="row">
            <div class="col-sm-8 col-md-2">
                <a class="btn btn-info btn-lg navbar-btn navbar-left text-black" href="javascript:history.back()"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Terug</a>
            </div>
        </div>
        <div class="clearfix"></div>
