﻿@model IEnumerable<Website.Models.IndexModel>
@{
    ViewBag.Title = "Movies";
}
<div class="main">
    <div class="header_content">
        <div class="top-header">
            <div class="logo">
                <p></p>
            </div>
            <div class="search">
                <form>
                    <input type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}" />
                    <input type="submit" value="">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>

        <br />
 
        
        @foreach (var item in Model.Where(i => i.Id == i.MovieId))
            {

                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail">

                            <img class="movie-image" src="@item.ImageData" />

                        </div>
                    </div>
                    <div class="col-md-8">
                        <table class="table table-reflow">
                            <tbody>
                                <tr>
                                    <th scope="row">Naam</th>
                                    <td>@item.Name</td>

                                </tr>


                                <tr>
                                    <th scope="row">Genre</th>
                                    <td>
                                        @foreach (var genre in Model.Where(i => i.Id == i.MovieId))
                                        {
                                            @genre.Genres.Name
                                        }
                                    </td>

                                </tr>
                                <tr>

                                    <th>Kijkwijzer:</th>
                                    @if (item.AgeRating == 0)
                                    {
                                        <td>Alle leeftijden</td> }
                                    else {
                                        <td>@Html.DisplayFor(modelItem => item.AgeRating)</td> }

                                </tr>
                                <tr>
                                    <th scope="row">Release datum</th>
                                    <td>@Convert.ToDateTime(item.ReleaseDate).ToString("dd MMMM yyyy")</td>
                                </tr>
                                <tr>
                                    <th scope="row">Duur</th>
                                    <td>@item.Duration</td>

                                </tr>
                                <tr>
                                    <th scope="row">Type</th>
                                    <td>
                                        @foreach (var type in Model.Where(i => i.Id == i.MovieId))
                                        {
                                            @type.MovieTypes.Type
                                        }
                                    </td>

                                </tr>
                                <tr>
                                    <th scope="row">Trailer</th>
                                    <td> <a class="youtube" id="trailer" href="@item.Trailer">Bekijk trailer</a></td>

                                </tr>
                                <tr>
                                    <th scope="row">Plot</th>
                                    <td>@item.Plot</td>

                                </tr>

                                                    </tbody>
                        </table>
                    </div>
                </div>
                
              
                    <hr />
        }

        <div class="row">
            <div class="col-sm-8 col-md-2">
                <a class="btn btn-info btn-lg navbar-btn navbar-left text-black" href="javascript:history.back()"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Terug</a>
            </div>
        </div>


                <div class="clearfix"></div>
