﻿@{
    ViewBag.Title = "BookingSuccess";
}

<div class="section text-center margin-top">
    <div class="main">
        <div class="header_content">
            <div class="top-header">
                <div class="logo">
                    <p>Print uw tickets</p>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="col-xs-12">
                <h2>Reservering geslaagd!</h2>
                <p>
                    <a class="background btn btn-lg btn-primary" id="print" href="/Home/PDFTicket?UniqueId=@Session["generatedNo"]">Tickets printen<span class="glyphicon glyphicon-print" aria-hidden="true"></span></a>
                </p>

            </div>


        </div>
        <div class="center navbar navbar-collapse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-header">
             

                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right"></ul>

                </div>

            </div>
        </div>

