﻿@{
    ViewBag.Title = "Contact";
}
<div class="main">
    <div class="header_content">
        <div class="top-header">
            <div class="logo">
                <p>Contact</p>

            </div>

            <div class="clearfix"></div>
        </div>

        <div class="row" id="leftmargin">
            <br /> <br /><br />

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row row-centered">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2479.0444018083626!2d4.7933824!3d51.5857496!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xf73b16e37d2565c1!2sAvans+hogeschool+Breda!5e0!3m2!1snl!2sus!4v1465320520043" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <br />  <br /><hr />
                <a class="btn btn-info btn-lg navbar-btn navbar-left text-black" href="javascript:history.back()"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Terug</a>
                <ul class="nav nav-pills" role="tablist" id="float-right"></ul>
            </div>
        </div>
    </div>

