﻿@{
    ViewBag.Title = "Ideal";
}
<div class="main">
    <div class="header_content">
        <div class="top-header">
            <div class="logo">
                <p>Betaal de tickets voor: @Session["MovieName"]</p>
            </div>

        </div>
