﻿@model IEnumerable<Website.Models.IndexModel>


@{
    ViewBag.Title = "Welkom!";
}

<div class="main">
    <div class="header">
        <div class="top-header">
            <div class="logo">
                <p>Welkom bij Metropolis!</p>
            </div>
            <div class="search">
                @using (Html.BeginForm("IMDBMovie", "IMDB", FormMethod.Post))
                {
                    <input type="text" value="" name="MovieName" />
                    <input class="button" id="submit" type="submit" value="" />
                }
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="header-info">
            <h1>Snel tickets kopen </h1>

            <div class="form-group">

                <script type="text/javascript">
                    //<![CDATA[
                    window.onload = function () {
                        var sel = document.getElementById('Ultra');
                        var t = document.getElementById('plot');
                        var v = document.getElementById('genre');
                        var a = document.getElementById('age');
                        var d = document.getElementById('duration');
                        var y = document.getElementById('trailer');
                        var i = document.getElementById('book');

                        sel.onchange = function () {
                            var selected = sel.options[sel.selectedIndex];
                            // t.innerHTML = selected.text;
                            t.innerHTML = sel.value;
                            v.innerHTML = selected.getAttribute('data-genre');
                            a.innerHTML = selected.getAttribute('data-age');
                            d.innerHTML = selected.getAttribute('data-duration');
                            //y.innerHTML = selected.getAttribute('data-trailer');
                            y.href = selected.getAttribute('data-trailer');
                            //i.href = "/Home/Movie/" + selected.getAttribute('data-id');
                            var id = selected.getAttribute('data-id');
                            i.href = "@Url.Action("MoviesSelected", "MovieShowings")/" + id;
                        };
                        sel.onchange();

                    }//]]>

                </script>

                <select class="form-control" id="Ultra" onchange="run()">
                    <option disabled>-- Selecteer een film --</option>
                    @foreach (var item in Model.OrderBy(i => i.Name))
                    {
                        <option value="@Html.DisplayFor(modelItem => item.Plot)"
                                data-id="@Html.DisplayFor(modelItem => item.Id)"
                                data-genre="@Html.DisplayFor(modelItem => item.Genres.Name)"
                                @if (item.AgeRating == 0) { 
                                @: data-age='Alle leeftijden'
                                ; }
                                else {  
                                @: data-age="@Html.DisplayFor(modelItem => item.AgeRating)"
                                ; }
                                data-duration="@Html.DisplayFor(modelItem => item.Duration)"
                                data-trailer="@Html.DisplayFor(modelItem => item.Trailer)">
                            @Html.DisplayFor(modelItem => item.Name)
                        </option>

}
                </select>
            </div>
            <p id="" class="review reviewgo">Genre: <span id="genre"></span></p>
            <p id="" class="review reviewgo">Duur: <span id="duration"></span> Minuten</p>
            <p id="" class="review reviewgo">leeftijd: <span id="age"></span></p>
            <p id="" class="review reviewgo">Trailer: <a class="youtube" id="trailer" href="#">Bekijk trailer</a></p>
            <p id="" class="special">Plot: <span id="plot"></span></p>
            <a class="book" id="book" href=""><i class="book1"></i>KOOP TICKET</a>


        </div>
    </div>

    <div class="review-slider">
        <ul id="flexiselDemo">
            @foreach (var item in Model)
            {
                <li>
                    <a href="@Url.Action("MoviesSelected", "MovieShowings", new { Id = item.Id })">
                        <img src="@Html.DisplayFor(modelItem => item.ImageData)" alt=""></img>
                    </a>

                    @Html.DisplayFor(modelItem => item.Name)
                </li>
            }
        </ul>
    </div>
    <script src="~/Scripts/jquery.flexisel.js"></script>
    <div class="news">
        <div class="col-md-6 news-left-grid">
            <h3>Zorg dat je niet te laat bent,</h3>
            <h2>koop je kaartjes nu!</h2>
            <h4>Makkelijk, handig en snel!</h4>
            <a href="@Url.Action("Movies", "MovieShowings", new { Date = DateTime.Today.ToString("dd-MM-yyyy")})"><i class="book"></i>koop je kaartjes nu!</a>
            <p>Slimme deal: ga voor het popcorn arrangement: <br />Flesje drinken + Medium popcorn voor € 2,50<p>
        </div>,
        <div class="col-md-6 news-right-grid">
            <h3>Nieuws</h3>
            <div class="news-grid">
                <h5>Nieuw: Dolby Atmos</h5>
                <label>31 mei 2016</label>
                <p>"Wonderbaarlijk verstaanbaar, nauwkeurig en genuanceerd geluid."</p>
            </div>
            <div class="news-grid">
                <h5>Imax</h5>
                <label>30 mei 2016</label>
                <p>"Waanzinnig geluid, fenomenaal beeld en een overweldigende filmbeleving!"</p>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>



