﻿@model IEnumerable<Domain.Models.MoviesShowings>

@{
    ViewBag.Title = "Movie";
}
<div class="main">
    <div class="header_content">
        <div class="top-header">
            <div class="logo">
                <p>Selecteer de gewenste datum en tijd!</p>
            </div>
            <div class="search">
                @using (Html.BeginForm("IMDBMovie", "IMDB", FormMethod.Post))
                {
                    <input type="text" value="" name="MovieName" />
                    <input class="button" id="submit" type="submit" value="" />
                }
            </div>
            <div class="clearfix"></div>
        </div>


    </div>
    <div class="footer">

        <h6>Informatie : </h6>
        <div class="copyright">
            <p>
                Adres:<br />
                Lovensdijkstraat 61-63<br />
                4818 AJ Breda<br />
                Postbus 90.116, 4800 RA
            </p>
            <p>Telefoon: 088 - 525 75 00 </p>
            <a href="https://www.google.nl/maps?t=h&f=d&daddr=Lovensdijkstraat%2B61-63,Breda&ie=UTF8&z=16">Route via Google Maps</a><br />
            <a href="#">Parkeren</a><br />
            <a href="http://www.9292.nl/">Openbaar vervoer via 9292</a>
        </div>
    </div>
</div>


<div class="clearfix"></div>


