﻿@model IEnumerable<Domain.Models.Seats>
@{
    ViewBag.Title = "Room";
}

    


<div class="main">
   

    <div class="news">
      
        <div class="clearfix"></div>
    </div>
    <div class="more-reviews">

                @foreach (var item in Model.Distinct())
                {
                   @Html.DisplayFor(modelItem => item.RowNumber) @Html.Raw("_") @Html.DisplayFor(modelItem => item.SeatNumber) @Html.Raw(",")
                    @Html.Raw("<br>")
                }


    </div>
    <div class="footer">

        
    </div>
</div>

<div class="clearfix"></div>