﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/Scripts/jquery.numpad.js"></script>
    <script src="~/Scripts/jspdf.debug.js"></script>
    <script src="~/Scripts/html2pdf.js"></script>

    <script type="text/javascript">
        window.onload = function() {
            var action;
            var totalPrice = 0;

            $(".number-spinner button").mousedown(function () {
                btn = $(this);
                input = btn.closest('.number-spinner').find('input[type=text]');
                btn.closest('.number-spinner').find('button').prop("disabled", false);
                var price = parseFloat(btn.attr('data-price'));

    	        if (btn.attr('data-dir') == 'up') {
                    //action = setInterval(function(){
                        if ( input.attr('max') == undefined || parseInt(input.val()) < parseInt(input.attr('max')) ) {
                            input.val(parseInt(input.val()) + 1);
                            var currentValue = parseFloat($("#totalprice").val());

                            setPrice(currentValue + price);
                        }else{
                            btn.prop("disabled", true);
                            clearInterval(action);
                        }
                   // }, 50);
    	        } else {
                   // action = setInterval(function(){
                        if ( input.attr('min') == undefined || parseInt(input.val()) > parseInt(input.attr('min')) ) {
                            input.val(parseInt(input.val()) - 1);
                            var currentValue = parseFloat($("#totalprice").val());

                            setPrice(currentValue - price);
                        }else{
                            btn.prop("disabled", true);
                            clearInterval(action);
                        }
                    //}, 50);
    	        }
            }).mouseup(function(){
                clearInterval(action);
            });
            
            function setPrice(price) {
                $("#totalprice").val(price.toFixed(2));
            }
        };

        function submitTicketsForm() {
            $("#ticketsForm").submit();
        }
    </script>
    
    <script>
       $(document).ready(function printPDF() {
            $('#print').click(function () {
               var specialElementHandlers =
                function (element, renderer) {
                   return true;
                }

                 var printDoc = new jsPDF();
               printDoc.fromHTML($('body').get(0), 10, 10, { 'width': 180, 'elementHandlers': specialElementHandlers });
                printDoc.autoPrint();
                printDoc.output('save', 'ticket.pdf');

 
            });
        });


     </script>

</head>
<body>
    <div class="center navbar navbar-collapse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <h3 class="margin-text navbar-text">@ViewBag.Header</h3>
            </div>
            <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                <ul class="nav navbar-nav navbar-right"></ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
